<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Registeration Form</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   	
<form action="/register" method="POST">
  <h2>Sign Up</h2>
      <div class="row">
		<div class="col-md-6">
		 <p>
		   <input id="fname" class="form-control" name="firstName" value="" type="text" placeholder="First Name">
		 </p>
		</div>
		<div class="col-md-6">
		 <p>
		   <input id="lname" class="form-control" name="lastName" value="" type="text" placeholder="Last Name">
		 </p>
		</div>
		<div class="col-md-6">
		 <p>
			<input id="phone" class="form-control" name="phone" value="" type="text" minlength="11" maxlength="11" placeholder="Phone Number">
		</p>
		</div>
		<div class="col-md-6">
		 <p>
			<input id="Email" class="form-control" name="email" value="" type="text" placeholder="Email">
		</p>
		</div>
		<div class="col-md-6">
		 <p>
			<input id="password" class="form-control" name="password" value="" type="password" placeholder="Password">
			<span>Enter a password longer than 8 characters</span>
		 </p>
		</div>
		<div class="col-md-6">
		 <p>
			<input id="confirmPassword" class="form-control" name="confirmPassword" value="" type="password" placeholder="Confirm Password">
			{{!-- <span>Your passwords do not match</span> --}}
			{{!-- <span>{{errorMsg}}</span> --}}
		 </p>
		</div>
		<div class="col-md-8 btn_div">
		 <p>
			<input type="submit" value="Register" id="submit">
	     </p>
		</div>
	  </div>
	</form>
</body>
</html>